*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h5{
    font-size: 30px;
    font-weight: 900;
    margin: 30px 0;
}

i{
    margin-right: 10px;
}

h2{
    padding: 10px;
    font-weight: 400;
    font-size: 25px;
}

img{
    width: 300px;
    transition: 3s;
}

img:hover{
    width: 400px;
    transition: 3s width;
}

footer{
    background-color: #F2F3F7;
    height: 120px;
    border-radius: 20px;
    text-align: center;   
    margin: 20px 0 0 0;
}

.soc-icon{
    margin: 30px 20px 10px 20px;
    font-size: 50px;
    transition: 2s;
}

.phone-div{
    position: relative;
    /* background-color: #FBF4FD; */
    margin: 30px 70px;
    color: #31343C;
}

.info h3{
    font-weight: 800;
}

.op9r{
    background-color: #F2F3F7;
    border-radius: 20px;
    padding: 10px;
}

.op8p{
    background-color: #F2F3F7;
    border-radius: 20px;
    padding: 10px;
}

.opn{
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.op7p{
    background-color: #FDFEFE;
    border-radius: 20px;
    padding: 10px 0 0 30px;
}

.home{
    padding: 20px;
    background-color: #2D3032;
    box-shadow: 5px 5px 5px #2D3032;
    width: 100%;
}

.navbar{
    padding: 3px;
    box-shadow: 5px 5px 5px #E1E4E7;
}

.brand-logo{
    height: 100px;
    width: 200px;
    border-radius: 10px;
}

.navbar-toggler{
    margin-right: 20px;
    height: 70px;
    width: 100px;
    border-width: 3px;
}

.navbar-collapse{
    margin-right: 50px;
    margin-left: 65px;
}

.nav-item{
    margin: 0 10px;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.media-body{
    margin: 50px;
}

.specifications{
    font-family: 'Mitr', sans-serif;
    border-radius: 20px;
    background-color: #F5F9F8;
    color: #31343C;
    text-align: center;
    padding: 20px;
    margin: 30px 0;
}

.button{
   margin: 30px; 
}

.button a{
    transition: 1s;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    background-color:  #5367ff;
}

.button a:hover{
    transition: 1s;
    background-color: blue;
}

#contact a{
    color: black;
}

#contact a:hover i{
    transition: 2s;
    font-size: 70px;
    text-decoration: none;
}

/* .mail-icon:hover::after{
    transition: 2s;
    content: "karthik";
} */